# OS / editor
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# temp
*.tmp
*~
*.bak

# contracts (Hardhat)
contracts/node_modules/
contracts/.env
contracts/cache/
contracts/artifacts/
contracts/typechain-types/
contracts/coverage/
contracts/coverage.json
contracts/deployments/localhost.json
contracts/deployments/hardhat.json
